{
  "openapi": "3.0.3",
  "info": {
    "title": "AS Positions API",
    "version": "2.0.0",
    "description": "Retrieves positions.\n"
  },
  "servers": [
    {
      "url": "https://sandbox.schwabapi.com/as-integration/accounts/v2",
      "description": "Sandbox"
    },
    {
      "url": "https://api.schwabapi.com/as-integration/accounts/v2",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Position",
      "description": "Retrieves positions.\n"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "paths": {
    "/positions/detail": {
      "get": {
        "tags": [
          "Position"
        ],
        "operationId": "GetPositionsDetail",
        "summary": "Retrieves positions for a single account.\n",
        "description": "Retrieves positions for a single account. If `PriceStaleStatus` is returned, then `QuotedPrice` is not current, and `DayChange`, `TotalDayChange`, `MarketValue`, and `TotalMarketValue` will be zero or inaccurate.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/HeaderCorrelId"
          },
          {
            "$ref": "#/components/parameters/HeaderResourceVersion"
          },
          {
            "name": "Schwab-Client-Ids",
            "in": "header",
            "description": "Passes the account.\n",
            "required": true,
            "schema": {
              "type": "string",
              "example": "account=383500120"
            }
          },
          {
            "name": "filter[securityType]",
            "in": "query",
            "description": "Filters positions by the security type. All returned if the filter is not passed. Requires `filter[symbol]` not be passed.\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Equity",
                "MutualFunds",
                "Options",
                "FixedIncome",
                "Other"
              ]
            }
          },
          {
            "name": "filter[symbol]",
            "in": "query",
            "description": "Filters positions by either a ticker symbol, CUSIP number, or internal Schwab security number. All returned if the filter is not passed. Requires `filter[securityType]` not be passed.\n",
            "required": false,
            "schema": {
              "type": "string",
              "example": "DIS"
            }
          },
          {
            "name": "page[cursor]",
            "in": "query",
            "description": "The cursor of the starting record to be returned.\n",
            "required": false,
            "schema": {
              "type": "string",
              "example": "501"
            }
          },
          {
            "name": "page[limit]",
            "in": "query",
            "description": "The number of records to be returned. The maximum value is 500.\n",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 500
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "The field by which to sort the records.\n",
            "required": false,
            "schema": {
              "type": "string",
              "default": "Symbol",
              "enum": [
                "AreCapitalGainsReinvested",
                "AreDividendsReinvested",
                "DayChange",
                "MarketValue",
                "Quantity",
                "SecurityName",
                "SecurityType",
                "Symbol"
              ]
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "The direction by which to sort the records.\n",
            "required": false,
            "schema": {
              "type": "string",
              "default": "Asc",
              "enum": [
                "Asc",
                "Desc"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/QueryShowAccount"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PositionsDetailGetResponse200"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse400"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse401"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse404"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse500"
          }
        }
      }
    },
    "/positions/list": {
      "post": {
        "tags": [
          "Position"
        ],
        "operationId": "PostPositionsList",
        "summary": "Retrieves positions for multiple accounts.\n",
        "description": "Retrieves positions for multiple accounts. If `PriceStaleStatus` is returned, then `QuotedPrice` is not current, and `MarketValue` and `TotalMarketValue` will be zero or inaccurate.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/HeaderCorrelId"
          },
          {
            "$ref": "#/components/parameters/HeaderResourceVersion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PositionsListPostRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PositionsListPostResponse200"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse400"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse401"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse404"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse500"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AccessToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "opaque",
        "description": "The **OAuth** token associated with the advisor.\n"
      }
    },
    "parameters": {
      "HeaderCorrelId": {
        "name": "Schwab-Client-CorrelId",
        "in": "header",
        "description": "The Correlation ID is a GUID that can be used to track a service call if support is needed.\n",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid",
          "example": "977dbd7f-992e-44d2-a5f4-e213d29c8691"
        }
      },
      "HeaderResourceVersion": {
        "name": "Schwab-Resource-Version",
        "in": "header",
        "description": "The requested API version.\n",
        "required": true,
        "schema": {
          "type": "integer",
          "example": 1
        }
      },
      "QueryShowAccount": {
        "name": "showAccount",
        "in": "query",
        "description": "Specifies how account numbers are displayed in the response. The values are: <br> `Mask`: Masks the account number as '*****6789'. <br> `Show`: Shows the account number.\n",
        "schema": {
          "type": "string",
          "default": "Mask",
          "enum": [
            "Mask",
            "Show"
          ]
        }
      }
    },
    "schemas": {
      "PositionsDetailGetResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/PositionsDetailGetResponseData"
          },
          "meta": {
            "type": "object",
            "properties": {
              "count": {
                "$ref": "#/components/schemas/Count"
              },
              "paging": {
                "$ref": "#/components/schemas/Paging"
              }
            }
          }
        }
      },
      "PositionsDetailGetResponseData": {
        "type": "object",
        "properties": {
          "id": {
            "description": "A randomly generated identifier.\n",
            "type": "string",
            "format": "uuid",
            "example": "43e29388-288a-4803-8b10-b6e1d646e138"
          },
          "type": {
            "description": "The type of the object returned.\n",
            "type": "string",
            "example": "position-detail"
          },
          "attributes": {
            "$ref": "#/components/schemas/PositionsDetailGetResponseDataAttributes"
          }
        }
      },
      "PositionsDetailGetResponseDataAttributes": {
        "type": "object",
        "properties": {
          "positions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Position"
            }
          },
          "totalPositions": {
            "$ref": "#/components/schemas/TotalPositions"
          }
        }
      },
      "Position": {
        "type": "object",
        "properties": {
          "formattedAccount": {
            "$ref": "#/components/schemas/FormattedAccount"
          },
          "type": {
            "description": "The type of the position.\n",
            "type": "string",
            "enum": [
              "Cash",
              "Margin",
              "Short",
              "WhenIssued"
            ]
          },
          "securityName": {
            "description": "The name of the security.\n",
            "type": "string",
            "example": "WALT DISNEY CO"
          },
          "symbol": {
            "description": "The ticker or options symbol (primary), 9-character CUSIP number (secondary), or the 7-digit internal Schwab security number (tertiary). Requires `securityType` not be passed.\n",
            "type": "string",
            "example": "DIS"
          },
          "securityNumber": {
            "format": "int32",
            "description": "The internal Schwab security number.\n",
            "type": "integer",
            "example": 5800171
          },
          "securityType": {
            "description": "The type of the security. Requires `symbol` not be passed.\n",
            "type": "string",
            "enum": [
              "Equity",
              "Mutual Fund",
              "Fixed Income",
              "Options",
              "Other"
            ]
          },
          "quantity": {
            "description": "The number of shares.\n",
            "type": "number",
            "format": "double",
            "example": 100.6
          },
          "quotedPrice": {
            "description": "The most recent price of the position which can be current, stale, worthless, or unpriced.\n",
            "type": "number",
            "format": "double",
            "example": 100.0034
          },
          "priceStaleStatus": {
            "description": "Identifies a reason for when the price is not current.\n",
            "type": "string",
            "enum": [
              "staleDated",
              "worthless",
              "unPriced"
            ]
          },
          "priceStaleStatusMessage": {
            "description": "The price stale status message.\n",
            "type": "string",
            "example": "Prices are not available at this time."
          },
          "marketValue": {
            "description": "The market value of the position held long.\n",
            "type": "number",
            "format": "double",
            "example": 10.01
          },
          "dayChange": {
            "description": "Indicates the change in the account value from the previous trading day's close. This includes the client's trading activity and deposits and withdrawals.\n",
            "type": "string",
            "example": "-$1,413.37(6.77%)"
          },
          "percentageofAccountAssetsLong": {
            "description": "The percentage of the account assets calculated using all long positions with value and all cash and cash investment amounts. Does not include any short position values or any margin balance on the account.\n",
            "type": "number",
            "format": "double",
            "example": 0.1
          },
          "areCapitalGainsReinvested": {
            "description": "Indicates whether any capital gains are reinvested.\n",
            "type": "boolean"
          },
          "isCapitalGainsReinvestEditable": {
            "description": "Indicates whether the reinvest-capital-gains setting for mutual funds is editable. Will be True if the advisor has Trade Authority or Trade Mutual Fund Only Authority.\n",
            "type": "boolean"
          },
          "areDividendsReinvested": {
            "description": "Indicates whether dividends are reinvested.\n",
            "type": "boolean"
          },
          "isDividendReinvestEditable": {
            "description": "Indicates whether the reinvest-dividends setting for equities and mutual funds is editable. Will be True if the advisor has Trade Authority, or if the position is a mutual fund and the advisor has Trade Mutual Fund Only Authority.\n",
            "type": "boolean"
          },
          "itemIssueId": {
            "description": "The unique identifier of the item issue.\n",
            "type": "integer",
            "format": "long",
            "example": 1363498689
          },
          "suffix": {
            "description": "The Rule Set Suffix ID. Refers to trading rules applicable to mutual funds. Each mutual fund can have multiple trading rules. IDs are added to mutual funds in numerical order.\n",
            "type": "integer",
            "example": 4
          }
        }
      },
      "TotalPositions": {
        "type": "object",
        "properties": {
          "totalAccountValue": {
            "description": "The sum of cash, money market funds, securities, margin balance, and any miscellaneous debits or credits in the account.\n",
            "type": "number",
            "format": "double",
            "example": 609658.51
          },
          "totalShortBalance": {
            "description": "The short sells proceeds until they are moved from the short account into the margin account, where the value becomes part of the margin balance and is swept to the sweep fund.\n",
            "type": "number",
            "format": "double",
            "example": 689658.51
          },
          "totalCashAndCashInvestments": {
            "description": "The total amount of cash and cash investments.\n",
            "type": "number",
            "format": "double",
            "example": 639658.51
          },
          "totalMarketValue": {
            "description": "The total market value of all securities.\n",
            "type": "number",
            "format": "double",
            "example": 789658.51
          },
          "totalDayChange": {
            "description": "The total change in value shown as a dollar amount. The value may be impacted if the security has started trading ex-dividend or undergone a reorganization event effective today. Assumes no change in quantity from the prior day and will be available until an hour before the next market open.\n",
            "type": "number",
            "format": "double",
            "example": 9658.51
          },
          "totalDayChangePercentage": {
            "description": "The total change in value shown as a percentage. The value may be impacted if the security has started trading ex-dividend or undergone a reorganization event effective today. Assumes no change in quantity from the prior day and will be available until an hour before the next market open.\n",
            "type": "number",
            "format": "double",
            "example": 2.1
          }
        }
      },
      "PositionsListPostRequest": {
        "type": "object",
        "required": [
          "accounts"
        ],
        "properties": {
          "accounts": {
            "description": "Passes the accounts. A maximum of 200 accounts can be requested at once.\n",
            "type": "array",
            "items": {
              "format": "int64",
              "type": "integer"
            },
            "example": [
              383500120,
              383500121
            ]
          },
          "securityType": {
            "description": "Filters positions by the security type. All returned if the filter is not passed.\n",
            "type": "string",
            "enum": [
              "Equity",
              "MutualFunds",
              "Options",
              "FixedIncome",
              "Other"
            ]
          },
          "symbol": {
            "description": "Filters positions by either a ticker symbol, CUSIP number, or internal Schwab security number. All returned if the filter is not passed.\n",
            "type": "string",
            "example": "DIS"
          },
          "pageCursor": {
            "description": "The cursor of the starting record to be returned.\n",
            "type": "string",
            "example": "501"
          },
          "pageLimit": {
            "description": "The number of records to be returned. The maximum value is 500.\n",
            "type": "integer",
            "default": 500
          },
          "sortBy": {
            "description": "The field by which to sort the records.\n",
            "type": "string",
            "default": "Symbol",
            "enum": [
              "AreCapitalGainsReinvested",
              "AreDividendsReinvested",
              "FormattedAccount",
              "MarketValue",
              "Quantity",
              "SecurityName",
              "SecurityType",
              "Symbol"
            ]
          },
          "sortDirection": {
            "description": "The direction by which to sort the records.\n",
            "type": "string",
            "default": "Asc",
            "enum": [
              "Asc",
              "Desc"
            ]
          },
          "showAccount": {
            "description": "Specifies how account numbers are displayed in the response. The values are: <br> `Mask`: Masks the account number as '*****6789'. <br> `Show`: Shows the account number.\n",
            "type": "string",
            "default": "Mask",
            "enum": [
              "Mask",
              "Show"
            ]
          }
        }
      },
      "PositionsListPostResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/PositionsListPostResponseData"
          },
          "meta": {
            "type": "object",
            "properties": {
              "count": {
                "$ref": "#/components/schemas/Count"
              },
              "paging": {
                "$ref": "#/components/schemas/Paging"
              }
            }
          }
        }
      },
      "PositionsListPostResponseData": {
        "type": "object",
        "properties": {
          "id": {
            "description": "A randomly generated identifier.\n",
            "type": "string",
            "format": "uuid",
            "example": "43e29388-288a-4803-8b10-b6e1d646e138"
          },
          "type": {
            "description": "The type of the object returned.\n",
            "type": "string",
            "example": "positions"
          },
          "attributes": {
            "$ref": "#/components/schemas/PositionsListPostResponseDataAttributes"
          }
        }
      },
      "PositionsListPostResponseDataAttributes": {
        "type": "object",
        "properties": {
          "positions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ListPosition"
            }
          },
          "totalPositions": {
            "$ref": "#/components/schemas/TotalListPositions"
          },
          "asOfDate": {
            "description": "The date and time (EST) when the data was last updated.\n",
            "type": "string",
            "format": "date-time",
            "example": "2022-05-11T21:41:25"
          },
          "errors": {
            "$ref": "#/components/schemas/ErrorsList"
          }
        }
      },
      "ListPosition": {
        "type": "object",
        "properties": {
          "formattedAccount": {
            "$ref": "#/components/schemas/FormattedAccount"
          },
          "accountName": {
            "description": "The name of the account.\n",
            "type": "string",
            "example": "GALE MORGAN BUSH-STONE 10822 HARROGATE PLACE Austin TX"
          },
          "accountTitle1": {
            "description": "The first line of the account name.\n",
            "type": "string",
            "example": "GALE MORGAN BUSH-STONE"
          },
          "securityName": {
            "description": "The name of the security.\n",
            "type": "string",
            "example": "WALT DISNEY CO"
          },
          "symbol": {
            "description": "The ticker or options symbol (primary), 9-character CUSIP number (secondary), or the 7-digit internal Schwab security number (tertiary).\n",
            "type": "string",
            "example": "DIS"
          },
          "securityType": {
            "description": "The type of the security.\n",
            "type": "string",
            "enum": [
              "Equity",
              "Mutual Fund",
              "Fixed Income",
              "Options",
              "Other"
            ]
          },
          "quantity": {
            "description": "The number of shares.\n",
            "type": "number",
            "format": "double",
            "example": 404
          },
          "quotedPrice": {
            "description": "The most recent price of the position which can be current, stale, worthless, or unpriced.\n",
            "type": "number",
            "format": "double",
            "example": 100.0034
          },
          "priceStaleStatus": {
            "description": "Identifies a reason for when the price is not current.\n",
            "type": "string",
            "enum": [
              "staleDated",
              "worthless",
              "unPriced"
            ]
          },
          "priceStaleStatusMessage": {
            "description": "The price stale status message.\n",
            "type": "string",
            "example": "Prices are not available at this time."
          },
          "marketValue": {
            "description": "The total market value of the position held long.\n",
            "type": "number",
            "format": "double",
            "example": 10.01
          },
          "percentageofAccountAssetsLong": {
            "description": "The percentage of long-term investments such as stocks, bonds, and all cash and cash investments. Does not include any short position values or any margin balance on the account.\n",
            "type": "number",
            "format": "double",
            "example": 0.1
          },
          "type": {
            "description": "The type of the position.\n",
            "type": "string",
            "enum": [
              "Cash",
              "Margin",
              "Short",
              "WhenIssued"
            ]
          },
          "areCapitalGainsReinvested": {
            "description": "Indicates whether any capital gains are reinvested.\n",
            "type": "boolean"
          },
          "areDividendsReinvested": {
            "description": "Indicates whether dividends are reinvested.\n",
            "type": "boolean"
          }
        }
      },
      "TotalListPositions": {
        "type": "object",
        "properties": {
          "totalAccountValue": {
            "description": "The sum of cash, money market funds, securities, margin balance, and any miscellaneous debits or credits in the account.\n",
            "type": "number",
            "format": "double",
            "example": 609658.51
          },
          "totalShortBalance": {
            "description": "The short sells proceeds until they are moved from the short account into the margin account, where the value becomes part of the margin balance and is swept to the sweep fund.\n",
            "type": "number",
            "format": "double",
            "example": 689658.51
          },
          "totalCashAndCashInvestments": {
            "description": "The total amount of cash and cash investments across all returned accounts.\n",
            "type": "number",
            "format": "double",
            "example": 639658.51
          },
          "totalMarketValue": {
            "description": "The total market value of all securities.\n",
            "type": "number",
            "format": "double",
            "example": 789658.51
          }
        }
      },
      "FormattedAccount": {
        "description": "The unique identifier of the client account.\n",
        "type": "string",
        "example": "*****0120"
      },
      "Count": {
        "type": "object",
        "properties": {
          "actual": {
            "description": "The actual number of records returned.\n",
            "type": "integer",
            "example": 500
          },
          "total": {
            "description": "The total number of records available.\n",
            "type": "integer",
            "example": 2000
          }
        }
      },
      "Paging": {
        "type": "object",
        "properties": {
          "nextCursor": {
            "description": "The cursor of the next record. This can be used for the page[cursor] value of the next request. Will be an empty string once there are no more records to retrieve.\n",
            "type": "string",
            "example": "1001"
          }
        }
      },
      "ErrorsList": {
        "type": "object",
        "properties": {
          "invalidAccounts": {
            "description": "The accounts which are invalid or for which the user is not authorized.\n",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FormattedAccount"
            },
            "example": [
              "*****0120",
              "*****0121"
            ]
          }
        }
      },
      "ErrorResponse400": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorInfo400"
            }
          }
        }
      },
      "ErrorInfo400": {
        "type": "object",
        "properties": {
          "id": {
            "description": "A randomly generated identifier.\n",
            "type": "string",
            "format": "uuid",
            "example": "9821320c-8500-4edf-bd46-a9299c13d2e0"
          },
          "status": {
            "description": "The HTTP status code associated with this occurrence of the error.\n",
            "type": "string",
            "enum": [
              "400"
            ]
          },
          "title": {
            "description": "The short title describing the category of the error.\n",
            "type": "string",
            "example": "Bad Request"
          },
          "detail": {
            "description": "The error description associated with this occurrence of the error. Provides details of the error. The actual error may vary.\n",
            "type": "string",
            "example": "The Schwab-Client-CorrelId field is required."
          },
          "source": {
            "$ref": "#/components/schemas/ErrorInfoSource"
          }
        }
      },
      "ErrorInfoSource": {
        "type": "object",
        "description": "The optional extended error information pointing to the source that triggered the error.\n",
        "properties": {
          "pointer": {
            "description": "The JSON pointer (RFC6901) to the associated entity in the request document (e.g., \"/data\" for a primary data object or \"/data/attributes/{property name}\" for a specific attribute).\n",
            "type": "string",
            "example": "/data/attributes/id"
          },
          "parameter": {
            "description": "The input parameter which caused the error.\n",
            "type": "string",
            "example": "masterAccount"
          },
          "header": {
            "description": "The request header which caused the error.\n",
            "type": "string",
            "example": "Schwab-Client-CorrelId"
          }
        }
      },
      "ErrorResponse401": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorInfo401"
            }
          }
        }
      },
      "ErrorInfo401": {
        "type": "object",
        "properties": {
          "id": {
            "description": "A randomly generated identifier.\n",
            "type": "string",
            "format": "uuid",
            "example": "9821320c-8500-4edf-bd46-a9299c13d2e0"
          },
          "status": {
            "description": "The HTTP status code associated with this occurrence of the error.\n",
            "type": "string",
            "enum": [
              "401"
            ]
          },
          "title": {
            "description": "The short title describing the category of the error.\n",
            "type": "string",
            "example": "Unauthorized"
          },
          "code": {
            "description": "The application-specific error code.\n",
            "type": "string",
            "example": "SEC-0001"
          }
        }
      },
      "ErrorResponse404": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorInfo404"
            }
          }
        }
      },
      "ErrorInfo404": {
        "type": "object",
        "properties": {
          "id": {
            "description": "A randomly generated identifier.\n",
            "type": "string",
            "format": "uuid",
            "example": "9821320c-8500-4edf-bd46-a9299c13d2e0"
          },
          "status": {
            "description": "The HTTP status code associated with this occurrence of the error.\n",
            "type": "string",
            "enum": [
              "404"
            ]
          },
          "title": {
            "description": "The short title describing the category of the error.\n",
            "type": "string",
            "example": "Not Found"
          },
          "code": {
            "description": "The application-specific error code.\n",
            "type": "string",
            "example": "SEC-0002"
          }
        }
      }
    },
    "headers": {
      "SchwabClientCorrelId": {
        "description": "The Correlation ID is a GUID that can be used to track a service call if support is needed.\n",
        "schema": {
          "type": "string",
          "format": "uuid",
          "example": "977dbd7f-992e-44d2-a5f4-e213d29c8691"
        }
      },
      "SchwabResourceVersion": {
        "description": "The requested API version.\n",
        "schema": {
          "type": "integer",
          "example": 1
        }
      }
    },
    "responses": {
      "PositionsDetailGetResponse200": {
        "description": "OK.\n",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/PositionsDetailGetResponse"
            }
          }
        },
        "headers": {
          "Schwab-Client-CorrelId": {
            "$ref": "#/components/headers/SchwabClientCorrelId"
          },
          "Schwab-Resource-Version": {
            "$ref": "#/components/headers/SchwabResourceVersion"
          }
        }
      },
      "PositionsListPostResponse200": {
        "description": "OK.\n",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/PositionsListPostResponse"
            }
          }
        },
        "headers": {
          "Schwab-Client-CorrelId": {
            "$ref": "#/components/headers/SchwabClientCorrelId"
          },
          "Schwab-Resource-Version": {
            "$ref": "#/components/headers/SchwabResourceVersion"
          }
        }
      },
      "ErrorResponse400": {
        "description": "Bad Request.\n",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse400"
            },
            "example": {
              "errors": [
                {
                  "id": "9821320c-8500-4edf-bd46-a9299c13d2e0",
                  "status": "400",
                  "title": "Bad Request",
                  "detail": "The Schwab-Client-CorrelId field is required.",
                  "source": {
                    "header": "Schwab-Client-CorrelId"
                  }
                }
              ]
            }
          }
        },
        "headers": {
          "Schwab-Client-CorrelId": {
            "$ref": "#/components/headers/SchwabClientCorrelId"
          },
          "Schwab-Resource-Version": {
            "$ref": "#/components/headers/SchwabResourceVersion"
          }
        }
      },
      "ErrorResponse401": {
        "description": "Unauthorized.\n",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse401"
            }
          }
        },
        "headers": {
          "Schwab-Client-CorrelId": {
            "$ref": "#/components/headers/SchwabClientCorrelId"
          },
          "Schwab-Resource-Version": {
            "$ref": "#/components/headers/SchwabResourceVersion"
          }
        }
      },
      "ErrorResponse404": {
        "description": "Not Found.\n",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse404"
            }
          }
        },
        "headers": {
          "Schwab-Client-CorrelId": {
            "$ref": "#/components/headers/SchwabClientCorrelId"
          },
          "Schwab-Resource-Version": {
            "$ref": "#/components/headers/SchwabResourceVersion"
          }
        }
      },
      "ErrorResponse500": {
        "description": "Internal Server Error.\n",
        "headers": {
          "Schwab-Client-CorrelId": {
            "$ref": "#/components/headers/SchwabClientCorrelId"
          },
          "Schwab-Resource-Version": {
            "$ref": "#/components/headers/SchwabResourceVersion"
          }
        }
      }
    }
  }
}