{
  "openapi": "3.0.3",
  "info": {
    "title": "AS Profiles API",
    "version": "2.0.0",
    "description": "Retrieves account profiles and account holder information.\n"
  },
  "servers": [
    {
      "url": "https://sandbox.schwabapi.com/as-integration/accounts/v2",
      "description": "Sandbox"
    },
    {
      "url": "https://api.schwabapi.com/as-integration/accounts/v2",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Profile",
      "description": "Retrieves account profiles and account holder information.\n"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "paths": {
    "/profiles/list": {
      "post": {
        "tags": [
          "Profile"
        ],
        "operationId": "PostProfilesList",
        "summary": "Retrieves profiles for multiple accounts.\n",
        "description": "Retrieves profiles for multiple accounts.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/HeaderCorrelId"
          },
          {
            "$ref": "#/components/parameters/HeaderResourceVersion"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfilesListPostRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ProfilesListPostResponse200"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse400"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse401"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse404"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse500"
          }
        }
      }
    },
    "/profiles/account-holders": {
      "get": {
        "tags": [
          "Profile"
        ],
        "operationId": "GetProfilesAccountHolders",
        "summary": "Retrieves the account holder's profile details.\n",
        "description": "Retrieves the account holder's profile details.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/HeaderCorrelId"
          },
          {
            "$ref": "#/components/parameters/HeaderResourceVersion"
          },
          {
            "name": "Schwab-Client-Ids",
            "in": "header",
            "description": "Passes the account and Account Holder ID.\n",
            "required": true,
            "schema": {
              "type": "string",
              "example": "account=383500120,accountHolderId=162669664"
            }
          },
          {
            "name": "showAccount",
            "in": "query",
            "description": "Specifies how account numbers are displayed in the response. The values are: <br> `Mask`: Masks the account number as '*****6789'. <br> `Show`: Shows the account number.\n",
            "required": false,
            "schema": {
              "type": "string",
              "default": "Mask",
              "enum": [
                "Mask",
                "Show"
              ]
            }
          },
          {
            "name": "showDOB",
            "in": "query",
            "description": "Specifies how the date of birth is displayed in the response. The values are: <br> `Mask`: Masks the date of birth as '****-mm-dd'. <br> `Show`: Shows the date of birth as 'yyyy-mm-dd'.\n",
            "required": false,
            "schema": {
              "type": "string",
              "default": "Mask",
              "enum": [
                "Mask",
                "Show"
              ]
            }
          },
          {
            "name": "showTaxID",
            "in": "query",
            "description": "Specifies how the tax identification number is displayed in the response. The values are: <br> `Mask`: Masks the tax identification number as '*****6789'. <br> `Show`: Shows the tax identification number.\n",
            "required": false,
            "schema": {
              "type": "string",
              "default": "Mask",
              "enum": [
                "Mask",
                "Show"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ProfilesAccountHoldersGetResponse200"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse400"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse401"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse404"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse500"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AccessToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "opaque",
        "description": "The **OAuth** token associated with the advisor.\n"
      }
    },
    "parameters": {
      "HeaderCorrelId": {
        "name": "Schwab-Client-CorrelId",
        "in": "header",
        "description": "The Correlation ID is a GUID that can be used to track a service call if support is needed.\n",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid",
          "example": "977dbd7f-992e-44d2-a5f4-e213d29c8691"
        }
      },
      "HeaderResourceVersion": {
        "name": "Schwab-Resource-Version",
        "in": "header",
        "description": "The requested API version.\n",
        "required": true,
        "schema": {
          "type": "integer",
          "example": 1
        }
      }
    },
    "schemas": {
      "ProfilesListPostRequest": {
        "required": [
          "accounts"
        ],
        "type": "object",
        "properties": {
          "accounts": {
            "description": "Passes the accounts. A maximum of 200 accounts can be requested at once.\n",
            "type": "array",
            "items": {
              "format": "int64",
              "type": "integer"
            },
            "example": [
              383500120,
              383500121
            ]
          },
          "includeIip": {
            "description": "Filters by whether the account is an Institutional Intelligent Portfolio (IIP) account. All are returned if the filter is not passed.\n",
            "type": "string",
            "enum": [
              "IIPOnly",
              "NonIIP"
            ]
          },
          "showAccount": {
            "description": "Specifies how account numbers are displayed in the response. The values are: <br> `Mask`: Masks the account number as '*****6789'. <br> `Show`: Shows the account number.\n",
            "type": "string",
            "default": "Mask",
            "enum": [
              "Mask",
              "Show"
            ]
          }
        }
      },
      "ProfilesListPostResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ProfileListPostResponseData"
          }
        }
      },
      "ProfileListPostResponseData": {
        "type": "object",
        "properties": {
          "id": {
            "description": "A randomly generated identifier.\n",
            "type": "string",
            "format": "uuid",
            "example": "9d76e773-15bb-4005-8fa1-decd23d124ae"
          },
          "type": {
            "description": "The type of the object returned.\n",
            "type": "string",
            "example": "profiles"
          },
          "attributes": {
            "$ref": "#/components/schemas/ProfileListPostResponseDataAttributes"
          }
        }
      },
      "ProfileListPostResponseDataAttributes": {
        "type": "object",
        "properties": {
          "profiles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Profile"
            }
          },
          "errors": {
            "$ref": "#/components/schemas/ErrorsList"
          }
        }
      },
      "Profile": {
        "type": "object",
        "properties": {
          "formattedAccount": {
            "$ref": "#/components/schemas/FormattedAccount"
          },
          "accountRegistrationType": {
            "description": "The account registration type.\n",
            "type": "string",
            "example": "RH"
          },
          "accountTitle": {
            "description": "The name of the account.\n",
            "type": "string",
            "example": "GALE MORGAN BUSH-STONE"
          },
          "establishedDate": {
            "description": "The date (EST) on which the account was opened at Schwab.\n",
            "type": "string",
            "format": "date",
            "example": "2020-07-29"
          },
          "linkedToMasterDate": {
            "description": "The date and time (EST) when the account was linked to the FA master account.\n",
            "type": "string",
            "format": "date-time",
            "example": "2022-11-15T15:37:36"
          },
          "primaryEmailAddress": {
            "description": "The primary account holder's email address.\n",
            "type": "string",
            "example": "test@test.com"
          },
          "emailAddress": {
            "description": "The primary account holder's secondary email address.\n",
            "type": "string",
            "example": "test@test.com"
          },
          "homePhone": {
            "description": "The primary account holder's home phone number.\n",
            "type": "string",
            "example": "415-123-5314"
          },
          "mobilePhone": {
            "description": "The primary account holder's mobile phone number.\n",
            "type": "string",
            "example": "602-223-2222"
          },
          "businessPhone": {
            "description": "The primary account holder's business phone number.\n",
            "type": "string",
            "example": "895-541-9876"
          },
          "mailingAddress": {
            "$ref": "#/components/schemas/MailingAddress"
          },
          "householdGroupId": {
            "description": "The account's Household Group ID.\n",
            "type": "string"
          },
          "householdGroupBalance": {
            "description": "The account's household group balance.\n",
            "type": "string"
          },
          "commissionNotes": {
            "description": "The account's commission notes.\n",
            "type": "string"
          },
          "isIip": {
            "description": "Indicates whether the account is an Institutional Intelligent Portfolio (IIP) account.\n",
            "type": "boolean"
          },
          "enrolledInTrustAssetServices": {
            "description": "Indicates whether the account is enrolled in the Trust Asset Services.\n",
            "type": "boolean"
          },
          "hasWebAccess": {
            "description": "Indicates whether an account holder is enabled for Schwab Alliance.\n",
            "type": "boolean"
          },
          "eStatementConsentDate": {
            "description": "The date (EST) when eStatement was activated.\n",
            "type": "string",
            "format": "date",
            "example": "2022-11-15"
          },
          "holders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Holder"
            }
          }
        }
      },
      "Holder": {
        "type": "object",
        "properties": {
          "accountHolderId": {
            "description": "The unique identifier of the account holder.\n",
            "type": "number",
            "example": 162669664
          },
          "role": {
            "description": "The role the account holder plays on the account. If the account holder has multiple roles, the highest priority role will be returned.\n",
            "type": "string",
            "example": "IND"
          },
          "beneficiaryAssetPercentage": {
            "description": "The percentage of assets allocated to the account holder.\n",
            "type": "string",
            "example": "23%"
          },
          "name": {
            "description": "The account holder's name.\n",
            "type": "string",
            "example": "CHRIS M LANG"
          },
          "emailAddress": {
            "description": "The account holder's email address.\n",
            "type": "string",
            "example": "test@test.com"
          },
          "mobileAccess": {
            "description": "Indicates whether the account holder has logged on to the Schwab mobile app within the past 90 days.\n",
            "type": "string",
            "enum": [
              "Yes",
              "No",
              "Ineligible"
            ]
          }
        }
      },
      "ErrorsList": {
        "type": "object",
        "properties": {
          "invalidAccounts": {
            "description": "The accounts which are invalid or for which the user is not authorized.\n",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FormattedAccount"
            },
            "example": [
              "*****0120",
              "*****0121"
            ]
          }
        }
      },
      "ProfilesAccountHoldersGetResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ProfilesAccountHoldersGetResponseData"
          }
        }
      },
      "ProfilesAccountHoldersGetResponseData": {
        "type": "object",
        "properties": {
          "id": {
            "description": "The unique identifier of the account holder.\n",
            "type": "number",
            "example": 162669664
          },
          "type": {
            "description": "The type of the object returned.\n",
            "type": "string",
            "example": "account-holder"
          },
          "attributes": {
            "$ref": "#/components/schemas/ProfilesAccountHoldersGetResponseDataAttributes"
          }
        }
      },
      "ProfilesAccountHoldersGetResponseDataAttributes": {
        "type": "object",
        "properties": {
          "role": {
            "description": "The role the account holder plays on the passed account. If the account holder has multiple roles, the highest priority role will be returned.\n",
            "type": "string",
            "example": "Individual"
          },
          "name": {
            "description": "The account holder's name.\n",
            "type": "string",
            "example": "CHRIS M LANG"
          },
          "formattedDateOfBirth": {
            "$ref": "#/components/schemas/FormattedDateOfBirth"
          },
          "formattedTaxpayerId": {
            "$ref": "#/components/schemas/FormattedTaxpayerId"
          },
          "emailAddress": {
            "description": "The account holder's email address.\n",
            "type": "string",
            "example": "test@test.com"
          },
          "homePhone": {
            "description": "The account holder's home phone number.\n",
            "type": "string",
            "example": "415-123-5314"
          },
          "mobilePhone": {
            "description": "The account holder's mobile phone number.\n",
            "type": "string",
            "example": "602-223-2222"
          },
          "businessPhone": {
            "description": "The account holder's business phone number.\n",
            "type": "string",
            "example": "895-541-9876"
          },
          "mailingAddress": {
            "$ref": "#/components/schemas/MailingAddress"
          },
          "citizenship": {
            "description": "The account holder's country of citizenship.\n",
            "type": "string",
            "example": "US"
          },
          "countryOfResidence": {
            "description": "The account holder's country of residence.\n",
            "type": "string",
            "example": "US"
          },
          "allianceWebAccess": {
            "description": "Indicates whether the account holder is enabled for Schwab Alliance.\n",
            "type": "string",
            "enum": [
              "Yes",
              "No",
              "Pending",
              "NotApplicable"
            ]
          },
          "allianceInvitationDate": {
            "description": "The date (EST) when the Alliance Invitation was last sent from SAC.\n",
            "type": "string",
            "format": "date",
            "example": "2022-11-15"
          },
          "mobileAccess": {
            "description": "Indicates if the account holder has logged on to the Schwab mobile app within the past 90 days.\n",
            "type": "string",
            "enum": [
              "Yes",
              "No",
              "Ineligible"
            ]
          },
          "isTrustAccount": {
            "description": "Indicates whether the account is a Trust account.\n",
            "type": "boolean"
          },
          "employment": {
            "$ref": "#/components/schemas/Employment"
          },
          "accounts": {
            "description": "The accounts on which the account holder has a role (i.e., an account on which the account holder has 4 roles will appear 4 times).\n",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Account"
            }
          }
        }
      },
      "MailingAddress": {
        "type": "object",
        "properties": {
          "address": {
            "description": "The address.\n",
            "type": "string",
            "example": "10822 HARROGATE PLACE Unit 412 West End"
          },
          "city": {
            "description": "The city.\n",
            "type": "string",
            "example": "Denver"
          },
          "stateZip": {
            "description": "The state and ZIP code.\n",
            "type": "string",
            "example": "CO 80022"
          },
          "country": {
            "description": "The country.\n",
            "type": "string",
            "example": "US"
          }
        }
      },
      "Employment": {
        "type": "object",
        "properties": {
          "employmentStatus": {
            "description": "The account holder's employment status.\n",
            "type": "string",
            "example": "Employed"
          },
          "occupation": {
            "description": "The account holder's occupation.\n",
            "type": "string",
            "example": "Engineer"
          },
          "employerName": {
            "description": "The account holder's employer name.\n",
            "type": "string",
            "example": "Charles Schwab"
          },
          "publiclyTradedCompany": {
            "description": "The name of the publicly traded company the account holder is affiliated with or employed by.\n",
            "type": "string",
            "example": "Charles Schwab"
          },
          "isEmployedBySecurityOrBrokerFirm": {
            "description": "Indicates whether the account holder is affiliated with or employed by a stock exchange, member firm or an exchange or FINRA, or a municipal securities broker/dealer.\n",
            "type": "boolean"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "formattedAccount": {
            "$ref": "#/components/schemas/FormattedAccount"
          },
          "accountName": {
            "description": "The account name.\n",
            "type": "string",
            "example": "GALE MORGAN BUSH-STONE"
          },
          "role": {
            "description": "The role the account holder plays on the account.\n",
            "type": "string",
            "example": "Individual"
          },
          "accountRegistrationType": {
            "description": "The account registration type.\n",
            "type": "string",
            "example": "Roth Contributory IRA"
          }
        }
      },
      "FormattedAccount": {
        "description": "The unique identifier of the client account.\n",
        "type": "string",
        "example": "*****0120"
      },
      "FormattedDateOfBirth": {
        "description": "The account holder's date of birth.\n",
        "type": "string",
        "example": "****-01-05"
      },
      "FormattedTaxpayerId": {
        "description": "The account holder's Taxpayer ID.\n",
        "type": "string",
        "example": "*****6789"
      },
      "ErrorResponse400": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorInfo400"
            }
          }
        }
      },
      "ErrorInfo400": {
        "type": "object",
        "properties": {
          "id": {
            "description": "A randomly generated identifier.\n",
            "type": "string",
            "format": "uuid",
            "example": "9821320c-8500-4edf-bd46-a9299c13d2e0"
          },
          "status": {
            "description": "The HTTP status code associated with this occurrence of the error.\n",
            "type": "string",
            "enum": [
              "400"
            ]
          },
          "title": {
            "description": "The short title describing the category of the error.\n",
            "type": "string",
            "example": "Bad Request"
          },
          "detail": {
            "description": "The error description associated with this occurrence of the error. Provides details of the error. The actual error may vary.\n",
            "type": "string",
            "example": "The Schwab-Client-CorrelId field is required."
          },
          "source": {
            "$ref": "#/components/schemas/ErrorInfoSource"
          }
        }
      },
      "ErrorInfoSource": {
        "type": "object",
        "description": "The optional extended error information pointing to the source that triggered the error.\n",
        "properties": {
          "pointer": {
            "description": "The JSON pointer (RFC6901) to the associated entity in the request document (e.g., \"/data\" for a primary data object or \"/data/attributes/{property name}\" for a specific attribute).\n",
            "type": "string",
            "example": "/data/attributes/id"
          },
          "parameter": {
            "description": "The input parameter which caused the error.\n",
            "type": "string",
            "example": "masterAccount"
          },
          "header": {
            "description": "The request header which caused the error.\n",
            "type": "string",
            "example": "Schwab-Client-CorrelId"
          }
        }
      },
      "ErrorResponse401": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorInfo401"
            }
          }
        }
      },
      "ErrorInfo401": {
        "type": "object",
        "properties": {
          "id": {
            "description": "A randomly generated identifier.\n",
            "type": "string",
            "format": "uuid",
            "example": "9821320c-8500-4edf-bd46-a9299c13d2e0"
          },
          "status": {
            "description": "The HTTP status code associated with this occurrence of the error.\n",
            "type": "string",
            "enum": [
              "401"
            ]
          },
          "title": {
            "description": "The short title describing the category of the error.\n",
            "type": "string",
            "example": "Unauthorized"
          },
          "code": {
            "description": "The application-specific error code.\n",
            "type": "string",
            "example": "SEC-0001"
          }
        }
      },
      "ErrorResponse404": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorInfo404"
            }
          }
        }
      },
      "ErrorInfo404": {
        "type": "object",
        "properties": {
          "id": {
            "description": "A randomly generated identifier.\n",
            "type": "string",
            "format": "uuid",
            "example": "9821320c-8500-4edf-bd46-a9299c13d2e0"
          },
          "status": {
            "description": "The HTTP status code associated with this occurrence of the error.\n",
            "type": "string",
            "enum": [
              "404"
            ]
          },
          "title": {
            "description": "The short title describing the category of the error.\n",
            "type": "string",
            "example": "Not Found"
          },
          "code": {
            "description": "The application-specific error code.\n",
            "type": "string",
            "example": "SEC-0002"
          }
        }
      }
    },
    "headers": {
      "SchwabClientCorrelId": {
        "description": "The Correlation ID is a GUID that can be used to track a service call if support is needed.\n",
        "schema": {
          "type": "string",
          "format": "uuid",
          "example": "977dbd7f-992e-44d2-a5f4-e213d29c8691"
        }
      },
      "SchwabResourceVersion": {
        "description": "The requested API version.\n",
        "schema": {
          "type": "integer",
          "example": 1
        }
      }
    },
    "responses": {
      "ProfilesListPostResponse200": {
        "description": "OK.\n",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/ProfilesListPostResponse"
            }
          }
        },
        "headers": {
          "Schwab-Client-CorrelId": {
            "$ref": "#/components/headers/SchwabClientCorrelId"
          },
          "Schwab-Resource-Version": {
            "$ref": "#/components/headers/SchwabResourceVersion"
          }
        }
      },
      "ProfilesAccountHoldersGetResponse200": {
        "description": "OK.\n",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/ProfilesAccountHoldersGetResponse"
            }
          }
        },
        "headers": {
          "Schwab-Client-CorrelId": {
            "$ref": "#/components/headers/SchwabClientCorrelId"
          },
          "Schwab-Resource-Version": {
            "$ref": "#/components/headers/SchwabResourceVersion"
          }
        }
      },
      "ErrorResponse400": {
        "description": "Bad Request.\n",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse400"
            },
            "example": {
              "errors": [
                {
                  "id": "9821320c-8500-4edf-bd46-a9299c13d2e0",
                  "status": "400",
                  "title": "Bad Request",
                  "detail": "The Schwab-Client-CorrelId field is required.",
                  "source": {
                    "header": "Schwab-Client-CorrelId"
                  }
                }
              ]
            }
          }
        },
        "headers": {
          "Schwab-Client-CorrelId": {
            "$ref": "#/components/headers/SchwabClientCorrelId"
          },
          "Schwab-Resource-Version": {
            "$ref": "#/components/headers/SchwabResourceVersion"
          }
        }
      },
      "ErrorResponse401": {
        "description": "Unauthorized.\n",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse401"
            }
          }
        },
        "headers": {
          "Schwab-Client-CorrelId": {
            "$ref": "#/components/headers/SchwabClientCorrelId"
          },
          "Schwab-Resource-Version": {
            "$ref": "#/components/headers/SchwabResourceVersion"
          }
        }
      },
      "ErrorResponse404": {
        "description": "Not Found.\n",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse404"
            }
          }
        },
        "headers": {
          "Schwab-Client-CorrelId": {
            "$ref": "#/components/headers/SchwabClientCorrelId"
          },
          "Schwab-Resource-Version": {
            "$ref": "#/components/headers/SchwabResourceVersion"
          }
        }
      },
      "ErrorResponse500": {
        "description": "Internal Server Error.\n",
        "headers": {
          "Schwab-Client-CorrelId": {
            "$ref": "#/components/headers/SchwabClientCorrelId"
          },
          "Schwab-Resource-Version": {
            "$ref": "#/components/headers/SchwabResourceVersion"
          }
        }
      }
    }
  }
}