{
  "openapi": "3.0.3",
  "info": {
    "title": "AS Reports API",
    "version": "2.0.0",
    "description": "Retrieves client statements, trade confirmations, and year-end tax documents.\n"
  },
  "servers": [
    {
      "url": "https://sandbox.schwabapi.com/as-integration/accounts/v2",
      "description": "Sandbox"
    },
    {
      "url": "https://api.schwabapi.com/as-integration/accounts/v2",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Reports",
      "description": "Retrieves client statements, trade confirmations, and year-end tax documents.\n"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "paths": {
    "/reports": {
      "get": {
        "tags": [
          "Reports"
        ],
        "operationId": "GetReports",
        "summary": "Retrieves account reports based on the report type.\n",
        "description": "Retrieves account reports based on the report type.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/HeaderCorrelId"
          },
          {
            "$ref": "#/components/parameters/HeaderResourceVersion"
          },
          {
            "$ref": "#/components/parameters/HeaderClientId"
          },
          {
            "name": "filter[reportType]",
            "in": "query",
            "description": "Filters by the report type. The values are: <br> `Statements`: Retail Client Monthly Statements (PDF) <br> `Confirmations`: Trade Confirm Reports (PDF) <br> `TaxReports`: Client Tax Documents (PDF)\n",
            "required": false,
            "schema": {
              "type": "string",
              "default": "Statements",
              "enum": [
                "Statements",
                "Confirmations",
                "TaxReports"
              ]
            }
          },
          {
            "name": "filter[startDate]",
            "in": "query",
            "description": "Filters \"Statements\" and \"Confirmations\" reports prepared on or after the passed date (EST). The default value is 3 months prior. The earliest date supported is 10 years prior.\n",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2019-01-31"
            }
          },
          {
            "name": "filter[endDate]",
            "in": "query",
            "description": "Filters \"Statements\" and \"Confirmations\" reports prepared on or before the passed date (EST). The default value is the current date. The earliest date supported is 10 years prior.\n",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2022-05-31"
            }
          },
          {
            "name": "filter[taxYear]",
            "in": "query",
            "description": "Filters \"TaxReports\" by the passed tax year. The default value is the previous year. The earliest year supported is 10 years prior.\n",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 2019
            }
          },
          {
            "$ref": "#/components/parameters/QueryPageCursor"
          },
          {
            "$ref": "#/components/parameters/QueryPageLimit"
          },
          {
            "$ref": "#/components/parameters/QuerySortDirection"
          },
          {
            "$ref": "#/components/parameters/QueryShowAccount"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ReportsGetResponse200"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse400"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse401"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse404"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse500"
          }
        }
      }
    },
    "/reports/pdf": {
      "get": {
        "tags": [
          "Reports"
        ],
        "operationId": "GetPDFReports",
        "summary": "Retrieves a PDF report based on the Report ID and type.\n",
        "description": "Retrieves a PDF report based on the Report ID and type.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/HeaderCorrelId"
          },
          {
            "$ref": "#/components/parameters/HeaderResourceVersion"
          },
          {
            "$ref": "#/components/parameters/HeaderClientId"
          },
          {
            "name": "reportType",
            "in": "query",
            "description": "Passes the report type.\n",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "Statements",
                "Confirmations",
                "TaxReports"
              ]
            }
          },
          {
            "name": "reportId",
            "in": "query",
            "description": "Passes the unique identifier of the report.\n",
            "required": true,
            "schema": {
              "type": "string",
              "example": "5B2F4B5E755FFF1AA6BE7B661A671CAD0E222F3B3258EB27E039FFFE836072"
            }
          },
          {
            "$ref": "#/components/parameters/QueryShowAccount"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ReportsPdfGetResponse200"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse400"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse401"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse404"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse500"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AccessToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "opaque",
        "description": "The **OAuth** token associated with the advisor.\n"
      }
    },
    "parameters": {
      "HeaderCorrelId": {
        "name": "Schwab-Client-CorrelId",
        "in": "header",
        "description": "The Correlation ID is a GUID that can be used to track a service call if support is needed.\n",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid",
          "example": "977dbd7f-992e-44d2-a5f4-e213d29c8691"
        }
      },
      "HeaderResourceVersion": {
        "name": "Schwab-Resource-Version",
        "in": "header",
        "description": "The requested API version.\n",
        "required": true,
        "schema": {
          "type": "integer",
          "example": 1
        }
      },
      "HeaderClientId": {
        "name": "Schwab-Client-Ids",
        "in": "header",
        "description": "Passes the account.\n",
        "required": true,
        "schema": {
          "type": "string",
          "example": "account=383500120"
        }
      },
      "QueryShowAccount": {
        "name": "showAccount",
        "in": "query",
        "description": "Specifies how account numbers are displayed in the response. The values are: <br> `Mask`: Masks the account number as '*****6789'. <br> `Show`: Shows the account number.\n",
        "required": false,
        "schema": {
          "type": "string",
          "default": "Mask",
          "enum": [
            "Mask",
            "Show"
          ]
        }
      },
      "QueryPageCursor": {
        "name": "page[cursor]",
        "in": "query",
        "description": "The cursor of the starting record to be returned.\n",
        "required": false,
        "schema": {
          "type": "string",
          "example": "501"
        }
      },
      "QueryPageLimit": {
        "name": "page[limit]",
        "in": "query",
        "description": "The number of records to be returned. The maximum value is 500.\n",
        "required": false,
        "schema": {
          "type": "integer",
          "default": 500
        }
      },
      "QuerySortDirection": {
        "name": "sortDirection",
        "in": "query",
        "description": "The direction by which to sort the records by the 'preparedByDate'.\n",
        "schema": {
          "type": "string",
          "default": "Asc",
          "enum": [
            "Asc",
            "Desc"
          ]
        }
      }
    },
    "schemas": {
      "ReportsGetResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ReportsGetResponseData"
          },
          "meta": {
            "type": "object",
            "properties": {
              "count": {
                "$ref": "#/components/schemas/Count"
              },
              "paging": {
                "$ref": "#/components/schemas/Paging"
              }
            }
          }
        }
      },
      "ReportsGetResponseData": {
        "type": "object",
        "properties": {
          "id": {
            "description": "A randomly generated identifier.\n",
            "type": "string",
            "format": "uuid",
            "example": "43e29388-288a-4803-8b10-b6e1d646e138"
          },
          "type": {
            "description": "The type of the object returned.\n",
            "type": "string",
            "example": "account-reports"
          },
          "attributes": {
            "$ref": "#/components/schemas/ReportsGetResponseDataAttributes"
          }
        }
      },
      "ReportsGetResponseDataAttributes": {
        "type": "object",
        "properties": {
          "reports": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Report"
            }
          },
          "errors": {
            "$ref": "#/components/schemas/ErrorsList"
          }
        }
      },
      "Report": {
        "type": "object",
        "properties": {
          "formattedAccount": {
            "$ref": "#/components/schemas/FormattedAccount"
          },
          "reportId": {
            "description": "The unique identifier of the report.\n",
            "type": "string",
            "example": "5B2F4B5E755FFF1AA6BE7B661A671CAD0E222F3B3258EB27E039FFFE836072"
          },
          "reportName": {
            "description": "The name of the report.\n",
            "type": "string",
            "example": "1099 Composite"
          },
          "reportType": {
            "description": "The type of the report.\n",
            "type": "string",
            "enum": [
              "Statements",
              "TaxReports",
              "Confirmations"
            ]
          },
          "reportSubtype": {
            "description": "The subtype of the report. <br> For `Statements`: Statement Type will be returned. <br> For `Confirmations`: Confirmation Type will be returned. <br> For `TaxReports`: Run Type will be returned.\n",
            "type": "string",
            "example": "New Retail"
          },
          "preparedByDate": {
            "description": "The date (EST) when the \"Statement\" report was created.\n",
            "format": "date",
            "example": "2022-05-13"
          }
        }
      },
      "ErrorsList": {
        "type": "object",
        "properties": {
          "inaccessibleReportTypes": {
            "description": "The report types to which the account doesn't have access. Quarterly Trade Confirm Reports cannot be viewed for an account not opted into paperless.\n",
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "Quarterly Trade Confirm Reports"
            ]
          }
        }
      },
      "ReportsPdfGetResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ReportsPdfGetResponseData"
          }
        }
      },
      "ReportsPdfGetResponseData": {
        "type": "object",
        "properties": {
          "id": {
            "description": "A randomly generated identifier.\n",
            "type": "string",
            "format": "uuid",
            "example": "43e29388-288a-4803-8b10-b6e1d646e138"
          },
          "type": {
            "description": "The type of the object returned.\n",
            "type": "string",
            "example": "pdf-report"
          },
          "attributes": {
            "$ref": "#/components/schemas/ReportsPdfGetResponseDataAttributes"
          }
        }
      },
      "ReportsPdfGetResponseDataAttributes": {
        "type": "object",
        "properties": {
          "formattedAccount": {
            "$ref": "#/components/schemas/FormattedAccount"
          },
          "pdfFile": {
            "description": "The PDF report as a Base64-encoded string.\n",
            "type": "string",
            "example": "JVBERi0xLjMKekdf1fnfSqQYt7AjczYfpmRSIEyEcx8KMSAwIG9iago8PAovVHlwZSAvQ2F0"
          }
        }
      },
      "FormattedAccount": {
        "description": "The unique identifier of the client account.\n",
        "type": "string",
        "example": "*****0120"
      },
      "Count": {
        "type": "object",
        "properties": {
          "actual": {
            "description": "The actual number of records returned.\n",
            "type": "integer",
            "example": 500
          },
          "total": {
            "description": "The total number of records available.\n",
            "type": "integer",
            "example": 2000
          }
        }
      },
      "Paging": {
        "type": "object",
        "properties": {
          "nextCursor": {
            "description": "The cursor of the next record. This can be used for the page[cursor] value of the next request. Will be an empty string once there are no more records to retrieve.\n",
            "type": "string",
            "example": "1001"
          }
        }
      },
      "ErrorResponse400": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorInfo400"
            }
          }
        }
      },
      "ErrorInfo400": {
        "type": "object",
        "properties": {
          "id": {
            "description": "A randomly generated identifier.\n",
            "type": "string",
            "format": "uuid",
            "example": "9821320c-8500-4edf-bd46-a9299c13d2e0"
          },
          "status": {
            "description": "The HTTP status code associated with this occurrence of the error.\n",
            "type": "string",
            "enum": [
              "400"
            ]
          },
          "title": {
            "description": "The short title describing the category of the error.\n",
            "type": "string",
            "example": "Bad Request"
          },
          "detail": {
            "description": "The error description associated with this occurrence of the error. Provides details of the error. The actual error may vary.\n",
            "type": "string",
            "example": "The Schwab-Client-CorrelId field is required."
          },
          "source": {
            "$ref": "#/components/schemas/ErrorInfoSource"
          }
        }
      },
      "ErrorInfoSource": {
        "type": "object",
        "description": "The optional extended error information pointing to the source that triggered the error.\n",
        "properties": {
          "pointer": {
            "description": "The JSON pointer (RFC6901) to the associated entity in the request document (e.g., \"/data\" for a primary data object or \"/data/attributes/{property name}\" for a specific attribute).\n",
            "type": "string",
            "example": "/data/attributes/id"
          },
          "parameter": {
            "description": "The input parameter which caused the error.\n",
            "type": "string",
            "example": "masterAccount"
          },
          "header": {
            "description": "The request header which caused the error.\n",
            "type": "string",
            "example": "Schwab-Client-CorrelId"
          }
        }
      },
      "ErrorResponse401": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorInfo401"
            }
          }
        }
      },
      "ErrorInfo401": {
        "type": "object",
        "properties": {
          "id": {
            "description": "A randomly generated identifier.\n",
            "type": "string",
            "format": "uuid",
            "example": "9821320c-8500-4edf-bd46-a9299c13d2e0"
          },
          "status": {
            "description": "The HTTP status code associated with this occurrence of the error.\n",
            "type": "string",
            "enum": [
              "401"
            ]
          },
          "title": {
            "description": "The short title describing the category of the error.\n",
            "type": "string",
            "example": "Unauthorized"
          },
          "code": {
            "description": "The application-specific error code.\n",
            "type": "string",
            "example": "SEC-0001"
          }
        }
      },
      "ErrorResponse404": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorInfo404"
            }
          }
        }
      },
      "ErrorInfo404": {
        "type": "object",
        "properties": {
          "id": {
            "description": "A randomly generated identifier.\n",
            "type": "string",
            "format": "uuid",
            "example": "9821320c-8500-4edf-bd46-a9299c13d2e0"
          },
          "status": {
            "description": "The HTTP status code associated with this occurrence of the error.\n",
            "type": "string",
            "enum": [
              "404"
            ]
          },
          "title": {
            "description": "The short title describing the category of the error.\n",
            "type": "string",
            "example": "Not Found"
          },
          "code": {
            "description": "The application-specific error code.\n",
            "type": "string",
            "example": "SEC-0002"
          }
        }
      }
    },
    "headers": {
      "SchwabClientCorrelId": {
        "description": "The Correlation ID is a GUID that can be used to track a service call if support is needed.\n",
        "schema": {
          "type": "string",
          "format": "uuid",
          "example": "977dbd7f-992e-44d2-a5f4-e213d29c8691"
        }
      },
      "SchwabResourceVersion": {
        "description": "The requested API version.\n",
        "schema": {
          "type": "integer",
          "example": 1
        }
      }
    },
    "responses": {
      "ReportsGetResponse200": {
        "description": "OK.\n",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/ReportsGetResponse"
            }
          }
        },
        "headers": {
          "Schwab-Client-CorrelId": {
            "$ref": "#/components/headers/SchwabClientCorrelId"
          },
          "Schwab-Resource-Version": {
            "$ref": "#/components/headers/SchwabResourceVersion"
          }
        }
      },
      "ReportsPdfGetResponse200": {
        "description": "OK.\n",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/ReportsPdfGetResponse"
            }
          }
        },
        "headers": {
          "Schwab-Client-CorrelId": {
            "$ref": "#/components/headers/SchwabClientCorrelId"
          },
          "Schwab-Resource-Version": {
            "$ref": "#/components/headers/SchwabResourceVersion"
          }
        }
      },
      "ErrorResponse400": {
        "description": "Bad Request.\n",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse400"
            },
            "example": {
              "errors": [
                {
                  "id": "9821320c-8500-4edf-bd46-a9299c13d2e0",
                  "status": "400",
                  "title": "Bad Request",
                  "detail": "The Schwab-Client-CorrelId field is required.",
                  "source": {
                    "header": "Schwab-Client-CorrelId"
                  }
                }
              ]
            }
          }
        },
        "headers": {
          "Schwab-Client-CorrelId": {
            "$ref": "#/components/headers/SchwabClientCorrelId"
          },
          "Schwab-Resource-Version": {
            "$ref": "#/components/headers/SchwabResourceVersion"
          }
        }
      },
      "ErrorResponse401": {
        "description": "Unauthorized.\n",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse401"
            }
          }
        },
        "headers": {
          "Schwab-Client-CorrelId": {
            "$ref": "#/components/headers/SchwabClientCorrelId"
          },
          "Schwab-Resource-Version": {
            "$ref": "#/components/headers/SchwabResourceVersion"
          }
        }
      },
      "ErrorResponse404": {
        "description": "Not Found.\n",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse404"
            }
          }
        },
        "headers": {
          "Schwab-Client-CorrelId": {
            "$ref": "#/components/headers/SchwabClientCorrelId"
          },
          "Schwab-Resource-Version": {
            "$ref": "#/components/headers/SchwabResourceVersion"
          }
        }
      },
      "ErrorResponse500": {
        "description": "Internal Server Error.\n",
        "headers": {
          "Schwab-Client-CorrelId": {
            "$ref": "#/components/headers/SchwabClientCorrelId"
          },
          "Schwab-Resource-Version": {
            "$ref": "#/components/headers/SchwabResourceVersion"
          }
        }
      }
    }
  }
}