{
  "openapi": "3.0.3",
  "info": {
    "title": "AS Feature Enrollment API",
    "version": "2.0.0",
    "description": "Retrieves and updates feature enrollment status for a firm.\n"
  },
  "servers": [
    {
      "url": "https://sandbox.schwabapi.com/as-integration/users/v2",
      "description": "Sandbox"
    },
    {
      "url": "https://api.schwabapi.com/as-integration/users/v2",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Data Delivery Enrollments",
      "description": "Retrieves and updates data delivery enrollment status for a firm.\n"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "paths": {
    "/data-delivery-enrollments": {
      "get": {
        "tags": [
          "Data Delivery Enrollments"
        ],
        "operationId": "GetDataDeliveryEnrollments",
        "summary": "Retrieves data delivery enrollment status for the firm.\n",
        "description": "Retrieves data delivery enrollment status for the firm.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/HeaderCorrelId"
          },
          {
            "$ref": "#/components/parameters/HeaderResourceVersion"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DataDeliveryEnrollmentsGetResponse200"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse400"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse401"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse404"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse500"
          }
        }
      },
      "put": {
        "tags": [
          "Data Delivery Enrollments"
        ],
        "operationId": "PutDataDeliveryEnrollments",
        "summary": "Updates data delivery enrollment status for the firm.\n",
        "description": "Enrolls or unenrolls the firm from data delivery.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/HeaderCorrelId"
          },
          {
            "$ref": "#/components/parameters/HeaderResourceVersion"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataDeliveryEnrollmentsPutRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/DataDeliveryEnrollmentsPutResponse204"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse400"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse401"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse404"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse500"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AccessToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "opaque",
        "description": "The **OAuth** token associated with the advisor.\n"
      }
    },
    "parameters": {
      "HeaderCorrelId": {
        "name": "Schwab-Client-CorrelId",
        "in": "header",
        "description": "The Correlation ID is a GUID that can be used to track a service call if support is needed.\n",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid",
          "example": "977dbd7f-992e-44d2-a5f4-e213d29c8691"
        }
      },
      "HeaderResourceVersion": {
        "name": "Schwab-Resource-Version",
        "in": "header",
        "description": "The requested API version.\n",
        "required": true,
        "schema": {
          "type": "integer",
          "example": 1
        }
      }
    },
    "schemas": {
      "DataDeliveryEnrollmentsGetResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "description": "A randomly generated identifier.\n",
                "type": "string",
                "format": "uuid",
                "example": "43e29388-288a-4803-8b10-b6e1d646e138"
              },
              "type": {
                "description": "The type of the object returned.\n",
                "type": "string",
                "example": "data-delivery-enrollment"
              },
              "attributes": {
                "$ref": ""
              }
            }
          }
        }
      },
      "DataDeliveryEnrollmentsGetResponseAttributes": {
        "type": "object",
        "properties": {
          "enrolled": {
            "description": "Indicates whether the firm is enrolled in data delivery.\n",
            "type": "boolean"
          }
        }
      },
      "DataDeliveryEnrollmentsPutRequest": {
        "type": "object",
        "required": [
          "enrolled"
        ],
        "properties": {
          "enrolled": {
            "description": "Passes the firm's data delivery enrollment status. The values are: <br>\n`True`: Enrolls the firm. <br>\n`False`: Unenrolls the firm.\n",
            "type": "boolean"
          }
        }
      },
      "ErrorResponse400": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorInfo400"
            }
          }
        }
      },
      "ErrorInfo400": {
        "type": "object",
        "properties": {
          "id": {
            "description": "A randomly generated identifier.\n",
            "type": "string",
            "format": "uuid",
            "example": "9821320c-8500-4edf-bd46-a9299c13d2e0"
          },
          "status": {
            "description": "The HTTP status code associated with this occurrence of the error.\n",
            "type": "string",
            "enum": [
              "400"
            ]
          },
          "title": {
            "description": "The short title describing the category of the error.\n",
            "type": "string",
            "example": "Bad Request"
          },
          "detail": {
            "description": "The error description associated with this occurrence of the error. Provides details of the error. The actual error may vary.\n",
            "type": "string",
            "example": "The Schwab-Client-CorrelId field is required."
          },
          "source": {
            "$ref": "#/components/schemas/ErrorInfoSource"
          }
        }
      },
      "ErrorInfoSource": {
        "type": "object",
        "description": "The optional extended error information pointing to the source that triggered the error.\n",
        "properties": {
          "pointer": {
            "description": "The JSON pointer (RFC6901) to the associated entity in the request document (e.g., \"/data\" for a primary data object or \"/data/attributes/{property name}\" for a specific attribute).\n",
            "type": "string",
            "example": "/data/attributes/id"
          },
          "parameter": {
            "description": "The input parameter which caused the error.\n",
            "type": "string",
            "example": "masterAccount"
          },
          "header": {
            "description": "The request header which caused the error.\n",
            "type": "string",
            "example": "Schwab-Client-CorrelId"
          }
        }
      },
      "ErrorResponse401": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorInfo401"
            }
          }
        }
      },
      "ErrorInfo401": {
        "type": "object",
        "properties": {
          "id": {
            "description": "A randomly generated identifier.\n",
            "type": "string",
            "format": "uuid",
            "example": "9821320c-8500-4edf-bd46-a9299c13d2e0"
          },
          "status": {
            "description": "The HTTP status code associated with this occurrence of the error.\n",
            "type": "string",
            "enum": [
              "401"
            ]
          },
          "title": {
            "description": "The short title describing the category of the error.\n",
            "type": "string",
            "example": "Unauthorized"
          },
          "code": {
            "description": "The application-specific error code.\n",
            "type": "string",
            "example": "SEC-0001"
          }
        }
      },
      "ErrorResponse404": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorInfo404"
            }
          }
        }
      },
      "ErrorInfo404": {
        "type": "object",
        "properties": {
          "id": {
            "description": "A randomly generated identifier.\n",
            "type": "string",
            "format": "uuid",
            "example": "9821320c-8500-4edf-bd46-a9299c13d2e0"
          },
          "status": {
            "description": "The HTTP status code associated with this occurrence of the error.\n",
            "type": "string",
            "enum": [
              "404"
            ]
          },
          "title": {
            "description": "The short title describing the category of the error.\n",
            "type": "string",
            "example": "Not Found"
          },
          "code": {
            "description": "The application-specific error code.\n",
            "type": "string",
            "example": "SEC-0002"
          }
        }
      }
    },
    "headers": {
      "SchwabClientCorrelId": {
        "description": "The Correlation ID is a GUID that can be used to track a service call if support is needed.\n",
        "schema": {
          "type": "string",
          "format": "uuid",
          "example": "977dbd7f-992e-44d2-a5f4-e213d29c8691"
        }
      },
      "SchwabResourceVersion": {
        "description": "The requested API version.\n",
        "schema": {
          "type": "integer",
          "example": 1
        }
      }
    },
    "responses": {
      "DataDeliveryEnrollmentsGetResponse200": {
        "description": "OK.\n",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/DataDeliveryEnrollmentsGetResponse"
            }
          }
        },
        "headers": {
          "Schwab-Client-CorrelId": {
            "$ref": "#/components/headers/SchwabClientCorrelId"
          },
          "Schwab-Resource-Version": {
            "$ref": "#/components/headers/SchwabResourceVersion"
          }
        }
      },
      "DataDeliveryEnrollmentsPutResponse204": {
        "description": "No Content.\n",
        "headers": {
          "Schwab-Client-CorrelId": {
            "$ref": "#/components/headers/SchwabClientCorrelId"
          },
          "Schwab-Resource-Version": {
            "$ref": "#/components/headers/SchwabResourceVersion"
          }
        }
      },
      "ErrorResponse400": {
        "description": "Bad Request.\n",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse400"
            },
            "example": {
              "errors": [
                {
                  "id": "9821320c-8500-4edf-bd46-a9299c13d2e0",
                  "status": "400",
                  "title": "Bad Request",
                  "detail": "The Schwab-Client-CorrelId field is required.",
                  "source": {
                    "header": "Schwab-Client-CorrelId"
                  }
                }
              ]
            }
          }
        },
        "headers": {
          "Schwab-Client-CorrelId": {
            "$ref": "#/components/headers/SchwabClientCorrelId"
          },
          "Schwab-Resource-Version": {
            "$ref": "#/components/headers/SchwabResourceVersion"
          }
        }
      },
      "ErrorResponse401": {
        "description": "Unauthorized.\n",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse401"
            }
          }
        },
        "headers": {
          "Schwab-Client-CorrelId": {
            "$ref": "#/components/headers/SchwabClientCorrelId"
          },
          "Schwab-Resource-Version": {
            "$ref": "#/components/headers/SchwabResourceVersion"
          }
        }
      },
      "ErrorResponse404": {
        "description": "Not Found.\n",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse404"
            }
          }
        },
        "headers": {
          "Schwab-Client-CorrelId": {
            "$ref": "#/components/headers/SchwabClientCorrelId"
          },
          "Schwab-Resource-Version": {
            "$ref": "#/components/headers/SchwabResourceVersion"
          }
        }
      },
      "ErrorResponse500": {
        "description": "Internal Server Error.\n",
        "headers": {
          "Schwab-Client-CorrelId": {
            "$ref": "#/components/headers/SchwabClientCorrelId"
          },
          "Schwab-Resource-Version": {
            "$ref": "#/components/headers/SchwabResourceVersion"
          }
        }
      }
    }
  }
}