{
  "openapi": "3.0.3",
  "info": {
    "title": "AS Client Inquiry API",
    "version": "2.0.0",
    "description": "Retrieves the client's info.\n"
  },
  "servers": [
    {
      "url": "https://sandbox.schwabapi.com/as-integration/accounts/v2",
      "description": "Sandbox"
    },
    {
      "url": "https://api.schwabapi.com/as-integration/accounts/v2",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Client Inquiry",
      "description": "Retrieves the client's info.\n"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "paths": {
    "/client-inquiries": {
      "get": {
        "tags": [
          "Client Inquiry"
        ],
        "operationId": "GetClientInquiry",
        "summary": "Retrieves the client's info.\n",
        "description": "Retrieves the client's info.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/HeaderCorrelId"
          },
          {
            "$ref": "#/components/parameters/HeaderResourceVersion"
          },
          {
            "$ref": "#/components/parameters/HeaderClientIds"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "The field by which to sort the records.\n",
            "required": false,
            "schema": {
              "type": "string",
              "default": "ClientId",
              "enum": [
                "AccountName",
                "ClientId"
              ]
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "The direction by which to sort the records.\n",
            "required": false,
            "schema": {
              "type": "string",
              "default": "Asc",
              "enum": [
                "Asc",
                "Desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ClientInquiryGetResponse200"
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse400"
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse401"
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse404"
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse500"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "AccessToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "opaque",
        "description": "The **OAuth** token associated with the advisor.\n"
      }
    },
    "parameters": {
      "HeaderCorrelId": {
        "name": "Schwab-Client-CorrelId",
        "in": "header",
        "description": "The Correlation ID is a GUID that can be used to track a service call if support is needed.\n",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid",
          "example": "977dbd7f-992e-44d2-a5f4-e213d29c8691"
        }
      },
      "HeaderResourceVersion": {
        "name": "Schwab-Resource-Version",
        "in": "header",
        "description": "The requested API version.\n",
        "required": true,
        "schema": {
          "type": "integer",
          "example": 1
        }
      },
      "HeaderClientIds": {
        "name": "Schwab-Client-Ids",
        "in": "header",
        "description": "Passes the first name, last name, and organization name for a \"Contained-in\" OR search (case-insensitive). At least 1 search criteria is required. Searches with less than 3 characters may timeout or take longer to process. Passed as: <br> `firstName=X` <br> `lastName=X` <br> `organizationName=X`\n",
        "required": true,
        "schema": {
          "type": "string",
          "example": "firstName=CHRIS,organizationName=CIJKLM CO."
        }
      }
    },
    "schemas": {
      "ClientInquiryGetResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClientInquiryGetResponseData"
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "count": {
                "$ref": "#/components/schemas/Count"
              }
            }
          }
        }
      },
      "ClientInquiryGetResponseData": {
        "type": "object",
        "properties": {
          "id": {
            "description": "The unique identifier of the client.\n",
            "type": "integer",
            "example": 185634256
          },
          "type": {
            "description": "The type of the object that is returned.\n",
            "type": "string",
            "example": "client-info"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "firstName": {
                "description": "The first name.\n",
                "type": "string",
                "example": "CHRIS"
              },
              "lastName": {
                "description": "The last name.\n",
                "type": "string",
                "example": "LANG"
              },
              "organizationName": {
                "description": "The organization name.\n",
                "type": "string",
                "example": "CIJKLM CO."
              },
              "city": {
                "description": "The city.\n",
                "type": "string",
                "example": "Denver"
              },
              "state": {
                "description": "The state.\n",
                "type": "string",
                "example": "CO"
              },
              "monthYearOfBirth": {
                "description": "The month and year of the client's date of birth.\n",
                "type": "string",
                "example": "06/1978"
              },
              "accountName": {
                "description": "The name of the account.\n",
                "type": "string",
                "example": "CHRIS M LANG"
              },
              "establishedDate": {
                "description": "The date and time (EST) when the account was opened at Schwab.\n",
                "type": "string",
                "format": "date-time",
                "example": "2020-07-29T06:16:52"
              }
            }
          }
        }
      },
      "Count": {
        "type": "object",
        "properties": {
          "actual": {
            "description": "The actual number of records returned.\n",
            "type": "integer",
            "example": 2000
          },
          "total": {
            "description": "The total number of records available.\n",
            "type": "integer",
            "example": 2000
          }
        }
      },
      "ErrorResponse400": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorInfo400"
            }
          }
        }
      },
      "ErrorInfo400": {
        "type": "object",
        "properties": {
          "id": {
            "description": "A randomly generated identifier.\n",
            "type": "string",
            "format": "uuid",
            "example": "9821320c-8500-4edf-bd46-a9299c13d2e0"
          },
          "status": {
            "description": "The HTTP status code associated with this occurrence of the error.\n",
            "type": "string",
            "enum": [
              "400"
            ]
          },
          "title": {
            "description": "The short title describing the category of the error.\n",
            "type": "string",
            "example": "Bad Request"
          },
          "detail": {
            "description": "The error description associated with this occurrence of the error. Provides details of the error. The actual error may vary.\n",
            "type": "string",
            "example": "The Schwab-Client-CorrelId field is required."
          },
          "source": {
            "$ref": "#/components/schemas/ErrorInfoSource"
          }
        }
      },
      "ErrorInfoSource": {
        "type": "object",
        "description": "The optional extended error info pointing to the source that triggered the error.\n",
        "properties": {
          "pointer": {
            "description": "The JSON pointer (RFC6901) to the associated entity in the request document (e.g., \"/data\" for a primary data object or \"/data/attributes/{property name}\" for a specific attribute).\n",
            "type": "string",
            "example": "/data/attributes/id"
          },
          "parameter": {
            "description": "The input parameter which caused the error.\n",
            "type": "string",
            "example": "masterAccount"
          },
          "header": {
            "description": "The request header which caused the error.\n",
            "type": "string",
            "example": "Schwab-Client-CorrelId"
          }
        }
      },
      "ErrorResponse401": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorInfo401"
            }
          }
        }
      },
      "ErrorInfo401": {
        "type": "object",
        "properties": {
          "id": {
            "description": "A randomly generated identifier.\n",
            "type": "string",
            "format": "uuid",
            "example": "9821320c-8500-4edf-bd46-a9299c13d2e0"
          },
          "status": {
            "description": "The HTTP status code associated with this occurrence of the error.\n",
            "type": "string",
            "enum": [
              "401"
            ]
          },
          "title": {
            "description": "The short title describing the category of the error.\n",
            "type": "string",
            "example": "Unauthorized"
          },
          "code": {
            "description": "The application-specific error code.\n",
            "type": "string",
            "example": "SEC-0001"
          }
        }
      },
      "ErrorResponse404": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorInfo404"
            }
          }
        }
      },
      "ErrorInfo404": {
        "type": "object",
        "properties": {
          "id": {
            "description": "A randomly generated identifier.\n",
            "type": "string",
            "format": "uuid",
            "example": "9821320c-8500-4edf-bd46-a9299c13d2e0"
          },
          "status": {
            "description": "The HTTP status code associated with this occurrence of the error.\n",
            "type": "string",
            "enum": [
              "404"
            ]
          },
          "title": {
            "description": "The short title describing the category of the error.\n",
            "type": "string",
            "example": "Not Found"
          },
          "code": {
            "description": "The application-specific error code.\n",
            "type": "string",
            "example": "SEC-0002"
          }
        }
      }
    },
    "headers": {
      "SchwabClientCorrelId": {
        "description": "The Correlation ID is a GUID that can be used to track a service call if support is needed.\n",
        "schema": {
          "type": "string",
          "format": "uuid",
          "example": "977dbd7f-992e-44d2-a5f4-e213d29c8691"
        }
      },
      "SchwabResourceVersion": {
        "description": "The requested API version.\n",
        "schema": {
          "type": "integer",
          "example": 1
        }
      }
    },
    "responses": {
      "ClientInquiryGetResponse200": {
        "description": "OK.\n",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/ClientInquiryGetResponse"
            }
          }
        },
        "headers": {
          "Schwab-Client-CorrelId": {
            "$ref": "#/components/headers/SchwabClientCorrelId"
          },
          "Schwab-Resource-Version": {
            "$ref": "#/components/headers/SchwabResourceVersion"
          }
        }
      },
      "ErrorResponse400": {
        "description": "Bad Request.\n",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse400"
            },
            "example": {
              "errors": [
                {
                  "id": "9821320c-8500-4edf-bd46-a9299c13d2e0",
                  "status": "400",
                  "title": "Bad Request",
                  "detail": "The Schwab-Client-CorrelId field is required.",
                  "source": {
                    "header": "Schwab-Client-CorrelId"
                  }
                }
              ]
            }
          }
        },
        "headers": {
          "Schwab-Client-CorrelId": {
            "$ref": "#/components/headers/SchwabClientCorrelId"
          },
          "Schwab-Resource-Version": {
            "$ref": "#/components/headers/SchwabResourceVersion"
          }
        }
      },
      "ErrorResponse401": {
        "description": "Unauthorized.\n",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse401"
            }
          }
        },
        "headers": {
          "Schwab-Client-CorrelId": {
            "$ref": "#/components/headers/SchwabClientCorrelId"
          },
          "Schwab-Resource-Version": {
            "$ref": "#/components/headers/SchwabResourceVersion"
          }
        }
      },
      "ErrorResponse404": {
        "description": "Not Found.\n",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse404"
            }
          }
        },
        "headers": {
          "Schwab-Client-CorrelId": {
            "$ref": "#/components/headers/SchwabClientCorrelId"
          },
          "Schwab-Resource-Version": {
            "$ref": "#/components/headers/SchwabResourceVersion"
          }
        }
      },
      "ErrorResponse500": {
        "description": "Internal Server Error.\n",
        "headers": {
          "Schwab-Client-CorrelId": {
            "$ref": "#/components/headers/SchwabClientCorrelId"
          },
          "Schwab-Resource-Version": {
            "$ref": "#/components/headers/SchwabResourceVersion"
          }
        }
      }
    }
  }
}